$dark-purple: #150035;
$lime-green: #B2ED11; 
$white: #ffffff;
$beige: #EAE1F480;
$light-purple: #AAAAF9;
$dark-green: #00A800;
$grey: #8B8B8B;
$orange: #F09800;
$red: #AA0000;

$base-font: 'Inter', sans-serif;

$spacing-md: 1rem;
